/* originally authored by Nick Pettit - https://github.com/nickpettit/glide */
@
keyframes wobble {from { transform:none;
	
}

15%
{
transform
:
 
translate3d
(-25%
,
0,
0)
rotate3d
(0
,
0,
1,
-5
deg
);

  
}
30%
{
transform
:
 
translate3d
(20%
,
0,
0)
rotate3d
(0
,
0,
1,
3
deg
);

  
}
45%
{
transform
:
 
translate3d
(-15%
,
0,
0)
rotate3d
(0
,
0,
1,
-3
deg
);

  
}
60%
{
transform
:
 
translate3d
(10%
,
0,
0)
rotate3d
(0
,
0,
1,
2
deg
);

  
}
75%
{
transform
:
 
translate3d
(-5%
,
0,
0)
rotate3d
(0
,
0,
1,
-1
deg
);

  
}
to {
	transform: none;
}

}
.wobble {
	animation-name: wobble;
}